<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd" >
	<context:property-placeholder location="classpath:jdbc.properties"/>
	<!-- C3P0连接池的配置 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driverClass}"></property>
		<property name="jdbcUrl" value="${jdbc.url}"></property>
		<property name="user" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
	</bean>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>cn/jxufe/domain/Role.hbm.xml</value>
				<value>cn/jxufe/domain/User.hbm.xml</value>
				<value>cn/jxufe/domain/Book.hbm.xml</value>
				<value>cn/jxufe/domain/ChatRoomMsg.hbm.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- Action -->
	<bean id="userAction" class="cn.jxufe.action.UserAction" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	<bean id="bookAction" class="cn.jxufe.action.BookAction" scope="prototype">
		<property name="bookService" ref="bookService"></property>
	</bean>
	<bean id="checkCodeAction" class="cn.jxufe.action.CheckCodeAction" scope="prototype"></bean>
	<bean id="chatRoomMsgAction" class="cn.jxufe.action.ChatRoomMsgAction">
		<property name="chatRoomMsgService" ref="chatRoomMsgService"></property>
	</bean>
	
	<!-- Service -->
	<bean id="userService" class="cn.jxufe.service.UserService">
		<property name="userdao" ref="userDao"></property>
		<property name="roleDao" ref="roleDao"></property>
		<property name="bookDao" ref="bookDao"></property>
	</bean>
	<bean id="bookService" class="cn.jxufe.service.BookService">
		<property name="bookDao" ref="bookDao"></property>
		<property name="userDao" ref="userDao"></property>
	</bean>
	<bean id="chatRoomMsgService" class="cn.jxufe.service.ChatRoomMsgService">
		<property name="chatRoomMsgDao" ref="chatRoomMsgDao"></property>
	</bean>
	
	<!-- Dao -->
	<bean id="userDao" class="cn.jxufe.dao.UserDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="bookDao" class="cn.jxufe.dao.BookDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="roleDao" class="cn.jxufe.dao.RoleDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="chatRoomMsgDao" class="cn.jxufe.dao.ChatRoomMsgDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- 配置拦截器 -->
	<bean id="loginInterceptor" class="cn.jxufe.interceptor.LoginInterceptor"></bean>
	
	<!-- 配置事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<!-- 设置进行事务操作的方法匹配规则 -->
			<tx:method name="get*" read-only="true"/>
			<tx:method name="*"/>
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:pointcut expression="execution(* cn.jxufe.service.*.*(..))" id="txPointcut"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="txPointcut"/>
	</aop:config>
	<!-- 开启注解事务 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
</beans>
